@{
    var products = ViewBag.Products;
}
<div class="row">
    <div class="col-md-3">
        <h2>Danh mục </h2>
    </div>
    <div class="col-md-9">
        <div class="row">
    @foreach (var item in products)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                        <img width="95%" src="@Url.Content(item.Image)" />
                       
                     @*    <img width="95%" src="@item.Image" />
                        <img width="95%" src="@Url.Content(item.Image)" />
                        <img width="95%" src="~/Images/01.jpg" /> *@
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>
                        @item.Description
                    </p>
                    <p>
                        <a asp-route="chitiet" asp-route-id="@item.Id" class="btn btn-success btn-block">Chi tiết</a>
                    </p>
                    
                </div>
            </div>
        </div>
    }
        </div>
    </div>
    </div>
